<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="AllCountries">All Countries</a>
        <a href="MyRecords">My Records</a>
    </header>
    <main>
        <h1>TotalConfirmed <%=data.TotalConfirmed %>
        </h1>
        <h1>TotalDeaths <%=data.TotalDeaths %>
        </h1>
        <h1>TotalRecovered <%=data.TotalRecovered %>
        </h1>

        <form action="/getCountryResult" method="get">
            <label for="">country</label>
            <input type="text" name="country">
            <label for="">from</label>
            <input type="date" name="from">
            <label for="">to</label>
            <input type="date" name="to">
            <button type="submit">Search</button>

        </form>

    </main>
    <footer></footer>

</body>

</html>